<template>
  <v-app>
    <v-container>
    <h1>test</h1>

    <v-text-field placeholder="NFT Pay host" label="NFT Pay host" v-model="nftPayHost"></v-text-field>
    <v-text-field placeholder="TokenId" label="Token ID" v-model="tokenId"></v-text-field>
    <v-text-field placeholder="TokenAddress" label="Token Address" v-model="tokenAddress"></v-text-field>

<v-dialog
      v-model="dialog"
      width="600"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="red lighten-2"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Click Me
        </v-btn>
      </template>

      <v-card>
      <iframe :src="'http://'+nftPayHost + '/?tokenId='+ tokenId + '&tokenAddress='+ tokenAddress"  width="100%" height="400px"></iframe>
      </v-card>
    </v-dialog>
 </v-container>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
       dialog: false,
       nftPayHost: 'localhost:8081',
       tokenId: '88846892087309742083104175898609124048292990441697004883777971123010660204545',
       tokenAddress: '0x88B48F654c30e99bc2e4A1559b4Dcf1aD93FA656'
    };
  },
};
</script>


<style lang="scss">

</style>
